@import "var";
@import "aless";

html{}
@charset "utf-8";
html,body{.height(100%);}
html,body,div,dl,dt,dd,ul,ol,li,p,h1,h2,h3,h4,h5,h6,span,iframe,blockquote,pre,code,a,address,big,cite,code,del,em,img,ins,small,strong,var,b,u,i,form,button,input,textarea,th,td,fieldset,label,legend{.m0p0;}
body{.ff-en-base;.fz-em-base;}
ul,ol,li{list-style:none outside none;}
p,h1,h2,h3,h4,h5,h6{.fz-px-base;}
b,strong,h1,h2,h3,h4,h5,h6{font-weight:normal;}
img{border:0 none;vertical-align:middle;}
a{
	&:link,&:visited{.tdn;}
	&:hover{.tdu;}
}
