// 17种标准色
@red:     #f00;  //红
@aqua:    #0ff;  //浅绿
@black:   #000;  //黑
@blue:    #00f;  //蓝
@fuchsia: #f0f;  //紫红
@gray:    #808080; //灰
@green:   #0f0; //绿
@lime:    #0f0;    //亮绿,绿黄
@maroon:  #800000;  //褐红
@navy:    #000080;  //海军蓝
@olive:   #808000;  //橄榄
@orange:  #ffa500;  //橙
@purple:  #800080;  //紫
@silver:  #c0c0c0;  //银
@teal:    #008080;  //蓝绿
@white:   #fff;  //白
@yellow:  #ff0;  //黄

@wwidth:  1000px;
